body {
	background-color: black;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;
	}
}

fieldset {
	width: max-content;
	margin: 0 auto;
	display: flex;
	align-items: flex-end;
	gap: 1rem;
}

fieldset > div {
	display: flex;
	flex-direction: column;
	flex: 1;
}

legend {
	margin: auto;
}

select {
	width: 7.5rem;
}

button {
	justify-self: end;
}

img {
	width: 100%;
	height: 40vh;
	margin: auto;
	object-fit: contain;
	padding: 1rem 0;
}

#image-container {
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	object-fit: contain;
	height: 100%;
}

@media (max-width: 600px) {
	#image-container {
		grid-template-columns: 1fr;
	}
}

.hidden {
	display: none;
}